@import "../../../index";

.item {
  flex: 0 1 275px;
}

.image {
  position: relative;
  width: 100%;
  padding-bottom: 145%;
  margin-bottom: 20px;

  img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 28px;
}

.name {
  font-family: "Noto Sans";
  font-size: 20px;
  line-height: 24px;
}

.price {
  font-family: "Century Gothic";
  font-size: 15px;
  line-height: 18px;
}

.orderButton {
  width: 100%;
  padding: 12px 0px;
  text-align: center;
  background-color: $lightOliveColor;
  transition: all 0.3s ease 0s;
  &:hover {
    background-color: #b0b0aa;
  }
}

