@import "./../index.scss";

.container {
  min-height: 100%;
  max-width: $maxWidthContainer + px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

.containerCatalogPage {
  @include adaptiveValue('padding-top', 80, 40, 1);
  @include adaptiveValue('padding-bottom', 58, 30, 1);
}

.containerServicesPage {
}