@import "./../index.scss";

.containerCatalogPage {
  min-height: 100%;
  max-width: $maxWidthContainer + px;
  padding: 0px 15px;
  padding-top: 80px;
  padding-bottom: 58px;
  margin: 0 auto;
  @include adaptiveValue('padding-top', 80, 40, 1);
  @include adaptiveValue('padding-bottom', 58, 30, 1);
  //@media (max-width: $tablet) {
  //  padding-top: 40px;
  //  padding-bottom: 30px;
  //}
}

.header {
  padding-top: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (max-width: $tablet) {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    border-bottom: 3px solid black;
    padding-top: 60px;
    padding-bottom: 10px;
  }
}

.title {
  font-family: Century Gothic;
  position: relative;
  @include adaptiveValue('font-size', 50, 24, 1);
  @include adaptiveValue('line-height', 60, 30, 1);

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    background-color: black;
    @include adaptiveValue('width', 580, 80, 1);
  }

  @media (max-width: $tablet) {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;

    &:after {
      width: 0px;
    }
  }
}

.button {
  background-color: $oliveColor;
  padding: 18px 32px;
  font-family: Century Gothic;
  line-height: 29px;
  text-align: center;
  color: white;
  @include adaptiveValue('font-size', 24, 18, 1);

  &:hover {
    background-color: #9C946BB2;
  }

  @media (max-width: $tablet) {
    margin-bottom: 25px;
  }
}