@import '../../index.scss';

.wrapper {
  position: relative;
  padding-top: 80px;
  height: 100vh;
  min-width: 100%;
  overflow: hidden;
}

.images {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  min-height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, minmax(150px, 1fr));
  @media (max-width: $mobile) {
    grid-template-columns: repeat(1, minmax(150px, 1fr));
  }


  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    @media (max-width: $mobile) {
      display: none;
      &:first-child{
        display: block;
      }
    }

  }
}


.container {
  height: 100%;
  position: relative;
  z-index: 5;
  max-width: $maxWidthContainer + px;
  padding: 0px 15px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.info {
  padding-bottom: 50px;
}

.title {
  font-family: Century Gothic;
  color: white;
  margin-bottom: 16px;
  @include adaptiveValue('font-size', 48, 27, 1);
  @include adaptiveValue('line-height', 58, 32, 1);
}

.text {
  font-family: Noto Sans;
  font-weight: 700;
  line-height: 20px;
  color: white;
  margin-bottom: 32px;
  max-width: 315px;
  @include adaptiveValue('font-size', 16, 14, 1)
}

.buttons {
  display: flex;
  @media (max-width: $mobile) {
    flex-wrap: wrap;
    row-gap: 15px;
  }
  color: white;
  @include adaptiveValue('column-gap', 23, 15, 1);
}

.button {
}