@import '../../index.scss';

.wrapper {
  position: relative;
  z-index: 1;
  padding-top: 80px;
  height: 100vh;
  min-width: 100%;
}

.images {
  height: 100%;
  display: flex;
  justify-content: space-between;

  img {
    flex: 0 0 33.333%;
  }
}

.container {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%, 0px);
  z-index: 10;
  width: $maxWidthContainer + px;
  padding: 0px 15px;
  margin: 0 auto;
}

.info {

}

.title {
  font-family: Century Gothic;
  font-size: 48px;
  line-height: 58px;
  color: white;
  margin-bottom: 16px;
}

.text {
  font-family: Noto Sans;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: white;
  margin-bottom: 32px;
  max-width: 315px;
}

.buttons {
  display: flex;
  gap: 23px;
  color: white;
}

.button {
  width: 184px;
  padding: 12px 0px;
  background-color: $oliveColor;
  transition: all 0.3s ease 0s;
  &:hover {
    background-color: rgba(156, 148, 107, 0.56);
  }
}