@import "./../../index.scss";


.wrapper {
  max-width: $maxWidthContainer + px;
  padding-top: 42px;
  padding-bottom: 42px;
  margin: 0 auto;
  @include adaptiveValue('padding-right', 65, 15, 1);
  @include adaptiveValue('padding-left', 65, 15, 1);
  @include adaptiveValue('padding-padding-top', 42, 15, 1);
  @include adaptiveValue('padding-padding-bottom', 42, 15, 1);
}


.list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 20px;
  @media (max-width: $mobile) {
    flex-direction: column;
    align-items: start;
    padding-left: 20px;
  }

}


.item {
  display: flex;
  align-items: center;
  @include adaptiveValue('gap', 39, 20, 1);
  &:not(:last-child) {
    padding-right: 20px;
  }
  @media (max-width: $mobileSmall) {
    padding-right: 0px;
  }
}

.image {
  height: 63px;
  width: 63px;
  flex: 0 0 63px;
  position: relative;

  &::before {
    position: absolute;
    z-index: 1;
    content: '';
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: $oliveColor;
  }

  img {
    position: absolute;
    z-index: 5;
    width: 32px;
    height: 32px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

  }
}

.text {
  flex: 1 1 auto;
}