@import '../../index';

.container {
  max-width: $maxWidthContainer + px;
  padding-right: 15px;
  padding-left: 15px;

  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include adaptiveValue('padding-top', 70, 30, 1);
  @media (max-width: $tablet) {
    padding-right: 0px;
    padding-left: 0px;
  }


}

.title {
  font-family: Century Gothic;
  text-align: center;
  @include adaptiveValue('margin-bottom', 40, 20, 1);
  @include adaptiveValue('font-size', 36, 31, 1);
  @include adaptiveValue('line-height', 62, 48, 1);


}

.containerSwiper {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;


  &::after {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 2px;
    background-color: $oliveColor;
    @media (max-width: $tablet) {
      width: 80%;
    }
  }

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: $oliveColor;
    @media (max-width: $tablet) {
      width: 80%;
    }
  }
}


