@import "./../../../index.scss";

.item {
  display: flex;
  align-items: start;

  &:not(:last-child) {
    margin-bottom: 59px;
  }
  @media (max-width: 550px) {
    align-items: center;
  }


}


.info {

  padding-top: 15px;
  height: 100%;
  flex: 0 0 207px;
  flex-grow: 0;
  flex-shrink: 0;
  @include adaptiveValue('flex-basis', 207, 60, 1);
  @include adaptiveValue('width', 207, 60, 1);


}

.row {
  flex: 1 1 auto;
  display: flex;
  //flex-wrap: wrap;
  padding-top: 0px;
  padding-bottom: 0px;
  align-items: start;
  justify-content: space-between;
  @include adaptiveValue('padding-right', 40, 5, 1);
  @include adaptiveValue('padding-left', 95, 5, 1);
  @media (max-width: 550px) {
    flex-direction: column;
    //flex: 0 0 100%;
  }

}

.image {
  width: 100%;
  padding-bottom: 100%;
  position: relative;
  background-color: #9C946B;
  margin-bottom: 11px;


  img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}

.name {
  font-family: Noto Sans;
  font-size: 13px;
  line-height: 16px;
  text-align: center;

  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;

}

.column {
  height: 120px;
  flex: 0 1 147px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  &:not(:last-child) {
    padding-right: 10px;
  }

  &:nth-child(1) {

  }

  &:nth-child(2) {
    padding-bottom: 5px;
  }

  &:nth-child(3) {
    padding-bottom: 6px;
  }

  &:nth-child(4) {
    padding-bottom: 9px;
  }

  @media (max-width: 550px) {
    min-width: 100%;
    flex: 1 1 auto;
    height: auto;
    flex-direction: row;
    align-items: center;

    &:not(:last-child) {
      padding-right: 0px;
    }
    &:not(:last-child) {
      margin-bottom: 15px;
    }

    &:nth-child(1) {
    }
    &:nth-child(2) {
      padding-bottom: 0px;
    }
    &:nth-child(3) {
      padding-bottom: 0px;
    }
    &:nth-child(4) {
      padding-bottom: 0px;
    }
  }


}

.addArticle {

}

.quantity {

}

.reset {
}

.sum {
}

.title {
  font-family: Century Gothic;
  font-weight: 400;
  line-height: 19px;
  text-align: center;
  @media (max-width: 550px) {
    flex: 1 1 auto;
    text-align: left;
    padding-right: 10px;
    //font-size: 14px;

  }

}

.addArticleInput {
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none;
  /* creating a custom design */
  flex: 0 0 35px;
  width: 35px;
  height: 33px;
  border-radius: 2px;
  border: 0.5px solid black;
  outline: none;
  cursor: pointer;
  &:checked {
    position: relative;

  }
  &:checked::before {
    content: "";
    position: absolute;
    left: 5px;
    bottom: 5px;
    width: 33px;
    height: 31px;
    background-image: url("./../../../assets/image/icons/accept.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.quantityForm {

  max-width: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.quantityButton {
  cursor: pointer;
  padding: 5px 8px;
  transition: all 0.1s ease 0s;

  &:hover {
    transform: scale(1.1);
  }
}

.quantityInput {
  flex: 0 0 35px;
  padding: 3px 5px;
  width: 35px;
  text-align: center;

  background-color: white;

}


.resetButton {
  flex: 0 0 26px;
  width: 26px;
  height: 26px;
  position: relative;
  transition: all 0.3s ease 0s;

  &:hover {
    transform: scale(1.1);
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}


.sumValue {
  font-family: Century Gothic;
  font-weight: 700;
  line-height: 19px;

}
