.item {
  transition: all 0.3s ease 0s;

  &:hover {
    .image {
      transform: scale(1.01);
      border-radius: 5px;
      overflow: hidden;
    }

    .btn{
      padding-left: 30px;
    }
  }


}

.image {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  margin-bottom: 15px;


  img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;

}

.name {
  font-family: "Noto Sans";
  font-size: 20px;
  line-height: 24px;
}

.price {
  font-family: "Century Gothic";
  font-size: 15px;
  line-height: 18px;
}


.btn{

}
.orderButton {
  font-family: Century Gothic;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
  transition: all 0.3s ease 0s;

  &:hover {
    text-decoration: underline;
  }
}

