@import "./../../index.scss";
.button {
    width: 184px;
    padding: 12px 0px;
    background-color: $oliveColor;
    transition: all 0.3s ease 0s;
    &:hover {
        background-color: rgba(156, 148, 107, 0.56);
    }

}